<br><br><br><br>

<div class="col-md-5 offset-md-3">
  <h1>Register</h1>

<form novalidate>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" ng-model="user.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
   
    <button ng-hide="loading" type="submit" ng-click="register(user)" class="btn btn-primary">Register</button>
    <!-- <button ng-show="loading" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button><br> -->
    Already registered?<a href="#!/login">click here</a>
  </form>
</div>



 